{% extends 'base.html' %}

{% block title %} PetStore | ProductDetail {% endblock%}
{% block body %}
<div class="col-md-3 mt-3 p-3">
    <img src="{{pet.image.url}}" class="card-img-top" alt="productImage" style="width: 100%; height: 250px;">
</div>
<div class="col-md-9 mt-3 p-3">
    <div class="card-body">
        <h5 class="card-title">{{pet.pet_name}}</h5><br>
        <p class="card-text"><b>Description:</b> {{pet.desc}}</p>
        <p class="card-text"><b>Price:</b> {{pet.price}}</p>

    </div>
    <br>
    <a href="/addCart/{{pet.pet_id}}"><button type="button" class="btn btn-danger">Add to Cart</button></a>
    <a href="/"><button type="button" class="btn btn-danger">Back</button></a>
</div>
{% endblock%}